.about-container {
  display: flex !important;
  align-items: center !important;
  justify-content: start !important;
  margin: 20px !important;
}

.about-image {
  margin-right: 20px !important;
}

.about-image img {
  max-width: 150px !important;
  height: auto !important;
  border-radius: 50% !important;
}

.about-description {
  max-width: 600px !important;
}

  